<link rel="stylesheet" type="text/css" href="style.css">
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="Imagenes/Logo.png" alt="Logo">
        </div>
        <a class="jugar" href="configuracion-juego.html"> PreguntadORT </a>
    </nav>
    <div class="info">
        <h2> Puntaje </h2>
        <h2> Nombre Usuario</h2>
    </div>
    <div class="cardRoja">
        <h1> incorrecta </h1>
    </div>
    <a class="pasarPreg" href="juego.html"> Siguente Pregunta </a>
</body>