<link rel="stylesheet" type="text/css" href="style.css">
<body>
    <section>
        <div class="card">
            <h1>Configuración de Juego</h1>
            <p>Personaliza las opciones de tu juego aquí.</p>
            <a href="configuracionjuego.cshtml" class="button"> Configuar Juego</a>
        </div>
    </section>
</body>