/* _content/TP7-PreguntadORT/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

nav[b-mc996va3lt]
{
  height: 70px;
  width: 100%;
}

nav div[b-mc996va3lt]
{
  text-align: center;
  display: flex;
}
